.patient-container {
    display: flex;
    width: "100%";
    flex-direction: column;
    background-color: rgb(53, 187, 142);
    margin: 10px;
    padding: 10px;
}

.patient-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action * {
    background-color: rgb(165, 72, 72);
    border-radius: 5px;
    padding: 5px;
    color: white;
    font-size: 12pt;
    user-select: none;
}

.action-button {
    cursor: pointer;
}