.Brancardier {
  display: flex;
  flex-direction: column;
}

.Brancardier > div {
    background-color: rgb(0, 162, 255);
    padding: 10px;
    margin: 10px;
}


p {
    background-color: rgb(53, 187, 142);
    margin: 10px;
    padding: 10px;
    display: flex;
}
  
button {
    background-color: red;
    color: white;
    border-radius: 30%;
}